.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.repository-details {  
  text-align: left;        
}

.org-details {  
  float: left;
}

.org-details ul {
  position: relative;
  width: 100%;
  display: block;
  float: left;
}

.org-details ul li {
    position: relative;
    display: block; 
    margin-top: 15px;       
    padding: 5px;
    float: left;
}

.avatar-wrapper {
  position: relative;
  width: 10%;
  display: block;
  float: left;
}

.user-details {
  float: right;
}

ul {
  list-style-type: none;
  text-align: left;          
}

.org-details, .user-details {
  width: 50%;
}

.org-details img, .user-details img {
    width: 50px;
    position: relative;
    float: left;
}

.info-wrapper {
  position: relative;
  width: 90%;
  display: block;
  float: right;
}

.info-wrapper span {
  padding-left: 10px; 
}

.info-wrapper span.desc {
  clear: both;
  display: block;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
